.reddit-embed-container {
  border: 1px solid #d1d5db; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  width: 100%; 
  max-width: 100%; 
  overflow: hidden; 
  margin: 0 auto; 
}

.reddit-embed-container iframe {
  width: 100% !important; 
  max-width: 100% !important; 
  border: none; 
}

@media (max-width: 640px) {
  .reddit-embed-container {
    max-height: 250px;
  }
  .reddit-embed-container iframe {
    height: 230px !important; 
  }
}