.youtube-player{
    border: 1px solid #d1d5db; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    width: 100%;
    height: 12rem;
    /* max-height: 100%; */
  object-fit: contain;
}
